* {
  box-sizing: border-box;
  outline: none;
}
html {
  text-rendering: optimizeLegibility;
}

body {
  font-family: $font-f;
  @include size-regular(normal);
  margin: 0;
  color: $black;
  &.overflow{
    overflow: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:not([class]){
    &:hover{
      text-decoration: underline;
    }
  }
}
h1, h2, h3{
  span{
    color: $orange;
  }
  &.quadrate {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 52px;
      height: 52px;
      left: -13px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      border-radius: 5px;
      z-index: -1;
    }
    &.green {
      &::before {background-color: $green;}
    }
    &.orange {
      &::before {background-color: $orange;}
    }
  }
  &.size-h2{
    @include size-title(h2);
  }
  &.size-h3{
    @include size-title(h3);
  }
}

h1 {
  margin-top: 0;
  @include size-title(h1);
  line-height: 56px;
}

h2 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

section {
  padding: 40px 0;
}

button, input, optgroup, select, textarea{
  font-family: $font-f;
}

  //container
.wrapper {
  width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-size: inherit;
}
p{
  margin: 0 0 25px;
  &:last-child{
    margin-bottom: 0;
  }
}

.orange-marker {
  color: $orange;
}
.green-marker {
  color: $green;
}

.prompt {
  position: absolute;
  width: 21px;
  height: 21px;
  background: url(../img/svg/ques.svg) no-repeat 50%;
  background-size: contain;
  filter: grayscale(1) opacity(0.6);
  cursor: pointer;
  z-index: 9;
  transition: filter 0.2s ease-out;
  &::after, &::before {
    display: none;
    position: absolute;
    background-color: white;
    animation: visible 0.2s ease-out forwards;
  }
  &::before {
    content: '';
    width: 14px;
    height: 14px;
    right: -22px;
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
    box-shadow: -4px 4px 8px -3px rgba(0, 0, 0, 0.15);
    z-index: 2;
  }
  &::after {
    content: attr(data-text);
    max-width: 230px;
    line-height: 20px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    right: -290px;
    @include translateY();
  }
  &:hover {
    filter: grayscale(0) opacity(1);
    &::after, &::before {
      display: block;
    }
  }
}

.catalog-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
  &.sub {
    margin: -15px -7px;
    .catalog-card {
      margin: 15px 7px;
    }
    .category-with-child {
      margin: 15px 7px;
    }
  }
  .category-with-child{
    flex: 0 0 calc(100% / 4 - 14px);
    margin: 7px;
    min-height: 220px;
    .catalog-card{
      margin: 0;
      flex: 0 0 100%;
    }
    .card-sub-category {
      position: relative;
      list-style: none;
      padding: 8px 0 8px 20px;
      margin: 30px 0 0 0;
      font-weight: 500;
      &::before {
        @include pseudo-element();
        width: 1px;
        height: 100%;
        background: #828282;
        left: 0;
        bottom: 20px;
        @include translateY;
      }
      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        a {
          transition: color 0.3s ease-out;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
  .catalog-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    flex: 0 0 calc(100% / 4 - 14px);
    height: 220px;
    padding: 56px 20px 56px;
    border: 1px solid $m-gray2;
    border-radius: $radius;
    margin: 7px;
    background-repeat: no-repeat;
    background-position: 150% 50%;
    &::after {
      @include pseudo-element();
      width: 52px;
      height: 17px;
      background: url(../img/svg/long-green-arrow.svg) no-repeat 50%;
      left: 20px;
      bottom: 20px;
    }
    .card-title {
      @include size-title(label);
      margin: 0;
    }
  }
}

.map-content, .single-map {
  position: relative;
  display: none;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  grid-template-rows: 160px 160px;
  gap: 0 34px;
  margin: 0 auto;
  transform: scale(0);
  animation: visible 0.4s ease-out;
  &.active {
    display: inline-grid;
    transform: scale(1);
  }

  .map-item {
    position: relative;
    width: 170px;
    &:not(:first-child)::before {
      @include pseudo-element();
      width: 170px;
      height: 100%;
      background-image: url(../img/svg/waves.svg);
      background-repeat: no-repeat;
    }
    &:nth-child(2n) {
      margin-left: 205px;
      &::before {
        background-position: 0;
        top: -150px;
        left: -94px;
      }
      &::after {
        @include pseudo-element();
        width: 6px;
        height: 6px;
        background-color: $black;
        border-radius: 50%;
        top: -13px;
        @include translateX();
      }
    }
    &:not(:first-child):nth-child(2n + 1) {
      &::before {
        background-position:  100%;
        top: 10px;
        left: -110px;
      }
    }
    .prompt {
      right: -30px;
      top: 56%;
    }
  }
  .icon {
    position: relative;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 23px;
    background-color: $orange;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
  }
  .title {
    max-width: 170px;
    @include size-title(label);
    text-align: center;
    margin: 25px 0 0 0;
  }
}
.single-map{
  display: inline-grid;
  transform: scale(1);
}
.seo-block {
  font-size: 12px;
  &.show {
    .btn {
      display: none;
    }
  }

  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--cut-number);
    overflow: hidden;
  }
  .btn {
    display: block;
    margin-top: 20px;
  }
}
.breadcrumbs{
  padding: 35px 0 25px;
  font-size: 12px;
  color: #828282
}

.break {
  flex-basis: 100%;
  height: 0;
}
